@import url("https://fonts.cdnfonts.com/css/hk-groteks");

* {
    font-family: "HK Grotesk", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.svg-wrapper {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 0;
}

html,
body,
#app {
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
    margin: 0;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #55555544;
}

.header,
.credits {
    background-color: #fff;
    width: 100%;
    z-index: 10;
}

.header-logo, .header-buttons, .header-buttons svg {
    height: 32px;
}

.header-buttons a {
    color: #000;
    text-decoration: none;
}

.header-buttons a:hover {
    color: #c91212;
}

/* prefers dark */

@media (prefers-color-scheme: dark) {
    body,
    #app {
        background-color: #1c1b1f;
        color: #fff;
    }

    .header,
    .credits {
        background-color: #252429;
        border-color: #323135;
    }

    .header-buttons a {
        color: #fff;
    }

    .header-buttons a:hover {
        color: #ff2828;
    }
}

.credits {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #323135;
    font-size: 12px;
    color: #555;
    font-weight: 500;
}

.region-name {
    position: absolute;
    font-size: 1.3em;
    margin: 0;
    padding: 3px 12px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    user-select: none;
    border-radius: 8px;
    pointer-events: none;
    display: none;
}
