html, body, #app {
  	width: 100vw;
  	height: 100vh;
  	padding: 0;
  	margin: 0;
    overflow: hidden;
}

#app {
  	font-family: 'Source Serif 4', serif;
	display: flex;
	flex-direction: column;
}

header {
	background-color: rgba(255, 255, 255, .4);
	border-bottom: 1px solid #ebebeb;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
}

.header-title {
	display: flex;
	align-items: center;
	user-select: none;
}

.header-title iconify-icon, .header-buttons iconify-icon {
	font-size: 2.5em;
}

h1 {
    font-size: 2.5em;
    margin: 5px;
}

.header-buttons * {
	color: black;
}

.svg-wrapper {
	flex: 1;
	height: calc(100% - 80px);
	position: relative;
	text-align: center;
}

.region-name {
    position: absolute;
  	font-size: 1.3em;
  	margin: 0;
  	padding: 3px 12px;
    background-color: rgba(0, 0, 0, .6);
    color: white;
    user-select: none;
    border-radius: 8px;
	pointer-events: none;
    display: none;
}

object {
	width: 100%;
	height: 100%;
	background-color: #b6d9f0;
}
