html, body, #app {
  	width: 100vw;
  	height: 100vh;
  	padding: 0;
  	margin: 0;
    overflow: hidden;
}

#app {
  	font-family: 'Source Serif 4', serif;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
    background-color: #b6d9f0;
}

h1 {
    font-size: 2.5em;
    margin: 5px;
}

.region-name {
    position: absolute;
  	font-size: 1.3em;
  	margin: 0;
  	padding: 3px 12px;
    background-color: rgba(0, 0, 0, .6);
    color: white;
    user-select: none;
    border-radius: 8px;
    display: none;
}

object {
  	height: 100%;
}
